<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Food To Feed</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="../static/js/jquery.js"></script>
</head>
<body>
<div class="block1">
	<div class="head">
	<div class="hamburger"><i class="fa fa-bars fa-2x menuhideshow"></i></div>
	<div>
		<nav>
			<ul class="navham">
				<li><a href="{{ url_for('all_main') }}">Home</a></li>
        		<li><a href="{{ url_for('postfood') }}">Post</a></li>
        		<li><a href="{{ url_for('show_all') }}">Get</a></li>
        		<li><a href="{{ url_for('new') }}">Register</a></li>
        		<li><a href="{{ url_for('dny') }}">Donate</a></li>
        		<li><a href="{{ url_for('about') }}">About Us</a></li>
			</ul>
		</nav>
	</div>
	<ul class="slider">
            <li>
            <span></span>
        <div>
            <h1>
            <a href="#">FOOD FEED</a>
			</h1>
			<h2>
			<a href="">"We make living by what we get</br>
		             But we make life by what we give." <p>- Winsten Churchil</p></a>
			</h2>
		</div>
		</li>
            <li><span></span>
            <div>
            <h1>
            <a href="#">SERVE THE SOCIETY</a>
		</h1>
		<h2>
		<a href="#">"Wealth is not to feed our egos, but to feed <br>the hungry and to help people help themselves."<p>- Andrew Carnegie</p></a>
		</h2>
		</div>
		</li>
		<li><span></span>
            <div>
            <h1>
            <a href="#">HELP NEEDY PEOPLE</a>
		</h1>
		<h2>
		<a href="#">"If you cannot feed a hundred people <br> then just feed one"<p>- Mother Teresa </p></a>
		</h2>
		</div>
		</li>
        </ul>
<!-- 		<h1>
			<a href="#">FOOD FEED</a>
		</h1>
		
			<h2><a href="#">"WE MAKE LIVING BY WHAT WE GET</br>
		BUT WE MAKE LIFE BY WHAT WE GIVE"</a></h2> -->
	
	</div>
	<div class="about">
		<h3><a href="{{ url_for('about') }}">About Us</a></h3>
		<p>“You waste life when you waste food.” - Katherine Anne Porter

  On an average, a child dies every 5 seconds as a result of hunger.

 Although there are hundreds of people who die starving on roads, 

			<a href="{{ url_for('about') }}">Read More</a>
		</p>

	</div>
</div>
<div class="blockimage">
<div></div>
<article class="blocksize">
	<div class="hovertext">
	<h2><a href="{{ url_for('postfood') }}">Post</a></h2>
	<h3><a href="{{ url_for('postfood') }}">Have Food want to share post here to help the person who needs it.</a></h3>
	<a href="{{ url_for('postfood') }}"><img src="../static/img/texture.jpg" alt=""></a>
	</div>
</article>
<article class="blocksize">
	<div class="hovertext">
	<h2><a href="{{ url_for('show_all') }}">Get</a></h2>
	<h3><a href="{{ url_for('show_all') }}">Feeling hungry don't have money to buy get it from here</a></h3>
	<a href="{{ url_for('show_all') }}"><img src="../static/img/getfood.jpg" alt=""></a>
	</div>
</article>
<article class="blocksize">
	<div class="hovertext">
	<h2><a href="{{ url_for('new') }}">Register</a></h2>
	<h3><a href="{{ url_for('new') }}">Want to help or get help join this wonderful organization</a></h3>
	<a href="{{ url_for('new') }}"><img src="../static/img/register.jpg" alt=""></a>
	</div>
</article>
<article class="blocksize">
	<div class="hovertext">
	<h2><a href="{{ url_for('dny') }}">Donate</a></h2>
	<h3><a href="{{ url_for('dny') }}">Got money want to help society donate here</a></h3>
	<a href="{{ url_for('dny') }}"><img src="../static/img/donate.jpg" alt=""></a>
	</div>
</article>
<article class="blocksize">
	<div class="hovertext">
	<h2><a href="#">Help Us</a></h2>
	<a href="#"><img src="../static/img/helping.jpg" alt=""></a>
	</div>
</article>
<article class="blocksize">
	<div class="hovertext">
	<h2><a href="#">Gallery</a></h2>
	<a href="#"><img src="../static/img/main3.jpg" alt=""></a>
	</div>
</article>
</div>
<footer class="footerdesign">
<div class="footermenu">
	<nav>
		<ul>
			<h1>Navigate</h1>
			<li><a href="index.html">Home</a></li>
			<li><a href="post.html">Post</a></li>
			<li><a href="get.html">Get</a></li>
			<li><a href="register.html">Register</a></li>
			<li><a href="dny.html">Donate</a></li>
		</ul>
	</nav>
</div>
<div class="footermenu">
	<nav>
	
		<ul>
		<h1>Social</h1>
			<li><a href="#">FACEBOOK</a></li>
			<li><a href="#">TWITTER</a></li>
			<li><a href="#">INSTAGRAM</a></li>
			<li><a href="#">PINTEREST</a></li>
			<li><a href="#">TUMBLR</a></li>
		</ul>
	</nav>
</div>
<div class="footerabout">
	<h1>FD</h1>
	<h5>Food to Feed Organization</h5>
	<h5>All Rights Reserved &copy; 2016</h5>
</div>
</footer>
</body>
</html>